
@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**Big frame, parents elements/div**/
/***********************************/
body {
    background-color: #121212;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.blank {
    margin: 0.75%;
    width: 98%;
    height: 7%;
    background-color: #121212;
}

.main-function {
    margin: 0.75%;
    width: 98%;
    height: 80%;
    background-color: #121212;

    gap: 10px;
    display: flex;
}

/**Inside main-function div**/
/****************************/
.sidebar {
    width: 20%;
    height: 100%;
    background-color: #444444;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.main-stream {
    width: 50%;
    height: 100%;
    background-color: #444444;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info {
    width: 30%;
    height: 100%;
    background-color: #444444;
}

/**Inside sidebar div**/
/**********************/
.main, .playlist, .library {
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;
}

/**Inside main-function**/
/************************/
/************************/
.introduction {
    height: 40%;
    width: 100%;
    display: flex;
}
.introduction img {
    height: 175px;
    margin: 20px;
    border: 5px solid white;
}
.tribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tribute h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 70px;
}
.tribute h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
}

.full-playlist {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.full-playlist button {
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;
}
/**Playlist**/
/************/
.music {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.music pre {
    margin-left: 1.5%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.music h1 {
    margin-left: 1.5%;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.track{
    background-color: white;
    height: 40px;

    position: relative;
    display: flex;
    align-items: center;
}

.left-side {
    position: absolute;
    left: 1%;
}
.song-info {
    position: absolute;
    left: 10%;
}

.duration {
    position: absolute;
    left: 80%;
}
.save {
    position: absolute;
    left: 65%
}
.more-option {
    position: absolute;
    left: 87%;
}

/**left side**/
.track-number {
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.play-button {
    display: none;
}

.track:hover .track-number {
    display:none;
}
.track:hover .play-button {
    display: block;
}

/**middle - info**/
.track-name {
    font-family: 'Open Sans', sans-serif;
}
.artist {
    font-family: 'Open Sans', sans-serif;
}
/**right side**/
.save, .more-option {
    display: none;
}
.duration {
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.track:hover .save, .track:hover .more-option {
    display: block;
    font-size: 25px;
    border: none;
    background-color: transparent;
}







/**Placeholder**/
.info-inside {
    width: 100px;
    height: 150px;
}

.info h2{
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
}
.info button {
    margin-left: 10px;
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;

}


.info-inside {
    height: 50%;
    width: 100%;
}
.info-inside img {
    height: 150px;
    width: auto;
    margin: 10px;
    border: 5px solid white;

    flex-shrink: 0;
    float: left;
}
.info-inside p {
    margin-left: 5px;
    font-size: 16px;
    line-height: 1.2;

    color: white;
    font-family: 'Open Sans', sans-serif;
}