

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**Big frame, parents elements/div**/
/***********************************/
body {
    background-color: #121212;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.blank {
    margin: 0.75%;
    width: 98%;
    height: 7%;
    background-color: #121212;
}

.main-function {
    margin: 0.75%;
    width: 98%;
    height: 80%;
    background-color: #121212;

    gap: 10px;
    display: flex;
}

/**Inside main-function div**/
/****************************/
.sidebar {
    width: 20%;
    height: 100%;
    background-color: #444444;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.main-stream {
    width: 50%;
    height: 100%;
    background-color: #444444;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info {
    width: 30%;
    height: 100%;
    background-color: #444444;
}

/**Inside sidebar div**/
/**********************/
.main, .playlist, .library {
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;
}

/**Inside main-function**/
/************************/
/************************/
.introduction {
    height: 40%;
    width: 100%;
}

.introduction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-playlist {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.full-playlist button {
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;
}
/**Playlist**/
/************/
.music {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.track{
    background-color: white;
    height: 40px;

    position: relative;
    display: flex;
    align-items: center;
}

.left-side {
    position: absolute;
    left: 1%;
}
.song-info {
    position: absolute;
    left: 10%;
}

.duration {
    position: absolute;
    left: 80%;
}
.save {
    position: absolute;
    left: 90%
}
.more-option {
    position: absolute;
    left: 60%;
}

/**left side**/
.track-number {
    display: block;
}
.play-button {
    display: none;
}

.track:hover .track-number {
    display:none;
}
.track:hover .play-button {
    display: block;
}

/**middle - info**/

/**right side**/
.save, .more-option {
    display: none;
}
.duration {
    display: block;
}

.track:hover .save, .track:hover .more-option {
    display: block;
}







/**Placeholder**/
.info-inside {
    width: 100px;
    height: 150px;
}