/***********/
/**Sidebar**/
/***********/
.main {
    background: transparent;
    border: none;

    margin-top: 20px;
    margin-left: 20px;
}

.playlist, .library {
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;

    text-align: left;
}

/********/
/**Info**/
/********/
.info-inside {
    height: 50%;
    width: 100%;
}


.info h2{
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
}
.info button {
    margin-left: 10px;
    height: 30px;
    width: 120px;

    border-radius: 10px;
    border: 1px solid #B0B0B0;
    background-color: #B0B0B0;

    margin-top: 5px;
}

.info-inside img {
    height: 150px;
    width: auto;
    margin: 10px;
    border-radius: 4px;

    flex-shrink: 0;
    float: left;
}
.info-inside p {
    margin-left: 5px;
    font-size: 16px;
    line-height: 1;

    color: white;
    font-family: 'Open Sans', sans-serif;
}